site_name: Seli
theme:
  name: material
  palette:
    - scheme: default
      primary: green
      accent: green
      toggle:
        name: Switch to light mode
        icon: material/lightbulb-outline
    - scheme: slate
      primary: green
      accent: green
      toggle:
        name: Switch to dark mode
        icon: material/lightbulb
  features:
    - toc.follow
    - navigation.top
    - navigation.tracking
    - search.highlight
    - content.tabs.link
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
repo_url: https://github.com/yemaney/seli
repo_name: yemaney/seli
